<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
 <link rel="shortcut icon" href="https://isra.edu.pk/storage/2015/03/logo.ico" type="image/x-icon" />

   						
   						
<title>Applying at Isra University : Isra University : Official Website | Official Website</title>
<meta charset="ISO-8859-1">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
<title>Insert title here</title>
<link rel="stylesheet" 
						href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" 
  						integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" 
   						crossorigin="anonymous">
   						
   						
</head>
<body>
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <!-- Brand -->
  <a class="navbar-brand" href="#">Isra University</a>

  <!-- Toggler/collapsibe Button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Navbar links -->
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      
      
      <li class="nav-item">
        <a class="nav-link" th:href="@{/students}">Candidate List </a>
     
      </li> 
         
      
      
      <li class="nav-item">
        <a class="nav-link" th:href="@{/course}">Courses </a>
     
      </li>
      
      <li class="nav-item">
        <a class="nav-link" th:href="@{/apply_starter}">Apply Online </a>
     
      </li>
      
      
      <li class="nav-item">
        <a class="nav-link" th:href="@{/covid}">Covid-19 </a>
     
      </li> 

      
      
      
    </ul>
  </div>
</nav>

		
		</div>
		
		
		
	
		
		
		
		<div class="container">
				<div class ="row">
					<div class="col-lg-10 col-md-6 col-sm-6 container justify-content-center card">
					<h1 class ="text-center">Applying at Isra University</h1><br><br><br>
		
		
		
 <section class="content">
		<h5>ISRA UNIVERSITY ADMISSION TEST</h5>
<p>Applicants for admission to all the Bachelor and Master degree programs are required to take the Isra University Admission Test (IUAT). The admission is purely on merit attained in this test. The test consists of two parts with an intermediate phase of short listing for personal interviews. It may, however, be noted that overseas Pakistani and foreign students are exempted from taking the Isra University Admission Test. The selection of such students will exclusively be based on their academic record and interview.</p>
<p>Applicants for M.Phil, Ph.D or postgraduate degree programs in clinical sciences, who fulfil the requisite conditions for admissions, will be called for a comprehensive interview or subject Graduate Records Examination or both. These students do not have to take Isra University Admission Test.</p>
<h5>IUAT Part-1</h5>
<p>This is a written test. Sample test papers are available for each program of study, and are provided to those candidates who complete the prescribed application form and register themselves for taking the admission test.</p>
<p>The test will be conducted at the Isra University Campus, Hyderabad. The time and date of the test will be communicated to the applicants individually by post or e-mail and through announcements in the news media.</p>
<h5>Short Listing of Candidates</h5>
<p>Short listing will purely depend upon the scores achieved by students in IUAT Part &#8211; 1. Only the short-listed students will qualify for IUAT Part &#8211; 2 and will be individually called for the interview.</p>
<h5>IUAT Part-2</h5>
<p>This part of the test is a personal interview of the applicants to assess their communication skills, aptitude, integrity, motivation, maturity and interest in the selected degree program. An applicant will meet two interviewers for a period of at least 20 minutes each. The interviews will be held at Isra University Campus in Hyderabad. The date and time of the interview will be communicated separately to each short listed applicant.</p>
<h5>SELECTION FOR ADMISSION</h5>
<p>The results of IUAT (both parts) are compiled and reviewed by Isra University Admissions Committee. The Committee recommends only those students for admission who are considered academically outstanding and have special aptitude for serving the community and the country of their permanent residence. The decision of the Committee is final and can not be challenged. Selected candidates will be informed individually. The results of the IUAT will neither be communicated on telephone nor will be revealed to sympathizers and friends. Selection of the candidates for the M Phil and Ph D programs is based on correspondence in the case of foreign students and interviews of the candidates residing in Pakistan.</p>
<h5>PROFICIENCY IN ENGLISH</h5>
<p>All programs are conducted in the English language, the official medium of communication of the University. Students are required to demonstrate reasonably good proficiency in this language. However, those who are admitted because of excellent performance in the test but are not up to the required standard in English will be offered an intensive, non-credit course in Special English aimed at improving their proficiency in written and oral communication skills. The students attending this course must take a test at the completion of this course and achieve a satisfactory test score.</p>
<h5>WHERE AND HOW TO APPLY?</h5>
<p>An admission kit containing the application form, prospectus and the necessary information, can be obtained from:<br />
<em>Hyderabad Campus:</em><br />
<em> Isra University</em><br />
<em> Hala Road, Hyderabad-Sindh, Pakistan.</em><br />
<em> Tel: (92 22) 2030181-4</em><br />
<em> Fax (92 22) 2030180 &amp; 2030185</em><br />
<em> URL: https://isra.edu.pk</em><br />
<em> Email: <a href="mailto:admissions@isra.edu.pk">admissions@isra.edu.pk</a></em></p>
<p>The admission kit may also be obtained from the Hyderabad branch of the Soneri Bank Limited, Pakistan.<br />
The fee for admission kit is Rs. 1500 (US$ 20 for overseas applicants). Add Rs. 300 for delivery by courier service in Pakistan and US$ 30 for overseas destinations.<br />
Fees for admission kit can be paid in cash if the kit is collected in person or through a bank draft / pay order in the name of Isra University, drawn on a bank having a branch in Hyderabad. The completed application forms together with the required supporting documents and a non-refundable application processing fee of Rs. 2,000 (US$ 60 for overseas applicants), should reach the Admissions Office on or before the closing date announced by the University. The applications received without fees will not be processed. Once acknowledged, an application can not be withdrawn. It is the sole responsibility of the candidates to comply with all the instructions given on the application form and submit it before the due date. Incomplete applications will not be processed. Applications received after the due date will not be entertained.<br />
In order to meet the deadline, the application form may be downloaded from our website and the same may be submitted along with the fee for admission kit and application processing dues. Prior to entry into Pakistan, the foreign students seeking admission in our University should first obtain an official clearance from the Government of Pakistan. For this purpose, they may approach the Pakistan Mission in their country of residence. Further information on admission of foreign nationals to educational institutions in Pakistan is available on our website.<br />
Applicants who have failed IUAT can apply afresh in subsequent year(s). A fresh application is a must for admission in the ensuing academic year. The merit of the applicant taking repeat test(s) will be evaluated on the basis of the best score in the current or previous tests taken in the last two years.</p>
<h5>Finalization of Admission Process</h5>
<p>The admission, to all the academic programs under all the categories, will remain incomplete and unconfirmed until the following documents are not submitted and duly verified by the competent authority:</p>
<ul>
<li> Duly completed admission form.</li>
<li> All the dues paid in full through a bank draft or challan duly signed by a bank.</li>
<li> Exact spelling of the name and other antecedents verified from the academic certificates specified on the admission form.</li>
<li> Duly signed and notarized affidavit specific to a particular program / faculty.</li>
</ul>
		
					</section>
	

<div class = "row">
		<div class = "col-lg-3">
		<a th:href = "@{/apply/new}" class = "btn btn-primary btn-sm mb-3" >Apply Now</a> 
		</div><br><br><br><br>




					
						
			



</body>
</html>