<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link rel="stylesheet" 
						href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" 
  						integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" 
   						crossorigin="anonymous">
</head>
<body style="background-color:powderblue;">

      
      
     
   
      
      <br><br>   <br><br>
      
    </ul>
  </div>
</nav>
<div class="container">
				<div class ="row">
					<div class="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
<br><br>
<form>

  <div class="row mb-3"><br>
    <label for="inputEmail3" class="col-sm-2 col-form-label" th:field="*{email}">Email</label>
    <div class="col-sm-9">
      <input type="email" class="form-control" id="inputEmail3">
    </div>
  </div>
  <div class="row mb-3">
    <label for="inputPassword3" class="col-sm-2 col-form-label" th:field="*{password}">Password</label>
    <div class="col-sm-9">
      <input type="password" class="form-control" id="inputPassword3">
    </div>
  </div>
 
  <div class="row mb-3">
    <div class="col-sm-10 offset-sm-2">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="gridCheck1">
        <label class="form-check-label" for="gridCheck1">
       Keep me Remember
        </label>
      </div>
    </div>
  </div>
  
  
  

  

  
  
 
  
  
 <a href= "second">Sign In</a>
 
</form>
</body>
</html>